body {
    font-family:  'Open Sans', sans-serif;
}

.img-radius {
    border-radius: 50%;
    border:6px double #FFF;
}

.go-back-top {
    width: 50px;    
    height: 50px;
    background: #7FCBCD url('../images/top.png') no-repeat center center;
    background-size:30px;
    border-radius: 50%;
    position: fixed;
    bottom:50px;
    right: 50px;
    z-index: 99999;
}

img {
    max-width: 100%;
}

.tasks {
    margin:0px;
    padding:0px;
    list-style: none;
    lost-utility: clearfix;

    .task {
        float:left;
        lost-column: 3/12 4;
        text-align: center; 
        background: #7FCBCD;
        color: #FFF;
        padding:20px 15px;
        border-radius: 5px;
        min-height: 80px;

        &.deadline {
           background: #c94c4c; 
        }
    }

    .task__title {
        text-align:center; 
        font-size: 16px;
        font-weight: bold;
        min-height: 30px;
    }

    .task__header {
        font-family:'Orbitron', sans-serif;
        text-align:center;
        font-size: 16px;
        margin-top: 10px;
        lost-utility: clearfix;

        .task__status {
            font-weight: bold;
            float: left;
        }

        .task__date {
            font-size: 14px;
            display:inline-block;
            float:right;
        }
    }

    .taks__description {
        text-align: justify;
    }
}

.author {
    margin:0px;
    padding:0px;
    list-style: none;
    lost-utility: clearfix;
    
    img {
        max-width:150px;
        width:100%;
    }

    .author__item {
        float:left;
        lost-column: 4/12 3;
        text-align: center; 
    }

    .author__name {
        font-family:'Orbitron', sans-serif;
        text-align:center;
        font-size: 16px;
        margin-top: 10px;
    }
}

#main {
    min-height: 500px;

}


.bg_section {
    background: #f8f8f8;
    padding:30px 0px;
}

/* Fomulário Contato */

.template-contato .ninja-forms-cont {
    padding: 30px 60px;
    width: 600px;
    margin: 0 auto;
    background-color: #0054A5;
    color: #000;
    margin-bottom: 80px;
    margin-top: 40px;
}

.template-contato .nome,
.template-contato .email,
.template-contato .mensagem {
    font-family: 'open_sansregular';
    background-color: #0054A5;
    border: none;
    border-bottom: 1px solid rgba(255,255,255,0.3);
    padding-left: 0px;
}

.template-contato .mensagem {
    height: 31px;
}

.template-contato .ninja-forms-field {
    color: #fff;
}

.template-orcamento .submit-wrap,
.template-contato .submit-wrap {
    text-align: center;
}

.template-contato .nf-desc h2 {
    font-family: 'open_sansregular';
    border-bottom: 1px solid rgba(255,255,255,0.3);
    margin-bottom: 50px;
    padding-bottom: 20px;
    font-size: 17px;
}

.template-contato .btn {
    font-family: 'open_sansregular';
    background-color: #FEF200;
    text-transform: uppercase;
    border-radius: 24px;
    border: none;
    font-size: 13px;
    color: #ED1B24;
    font-weight: bold;
    padding: 15px 40px;
    font-weight: 800;
}

.template-contato .ninja-forms-required-items {
    display: none;
}

/* Fomulário Orçamento */

.template-orcamento {
    margin-top: 40px;
}

.template-orcamento .ninja-forms-cont {
    margin: 30px 30px;
    max-width: 600px;
    margin: 0 auto;
    color: #000;
}

.template-orcamento .ninja-forms-required-items {
    display: none;
}

.template-orcamento .btn {
    background-color: #ED1B24;
    text-transform: uppercase;
    border-radius: 4px;
    border: none;
    font-size: 13px;
    color: #fff;
    font-weight: bold;
    padding: 15px 100px;
    font-weight: 800;
}

.template-orcamento .field-wrap {
    margin-bottom: 5px;
}

.template-orcamento .nome,
.template-orcamento .sobrenome,
.template-orcamento .marca,
.template-orcamento .veiculo,
.template-orcamento .modelo,
.template-orcamento .ano,
.template-orcamento .sobrenome,
.template-orcamento .email,
.template-orcamento .telefone,
.template-orcamento .mensagem {
    border: none;
    border: 2px solid #DCDCDC;
    color: #A9A9A9;
    border-radius: 4px;
}

.template-orcamento .ano {
    height: 30px;
    margin-bottom: 10px;
    padding: 5px 10px;
}

.template-orcamento .number-wrap label {
    font-weight: normal;
    color: #808080;
}

.orcamentos h1,
.template-orcamento h1 {
    font-family: 'open_sansbold';
    font-weight: bold;
    color: #0054A5;
    font-size: 70px;
    letter-spacing: -5px;
    margin: 0;
    font-weight: 800;
}

.orcamentos span,
.template-orcamento .sub-title {
    font-family: 'open_sansbold';
    color: #0054A5;
    font-size: 26px;
    letter-spacing: 5px;
    text-transform: uppercase;
    margin-left: 135px;
    position: relative;
    top: -23px;
    border-bottom: 3px solid #0054A5;
}

.align {
    text-align: center;
}

/* Página Empresa */

.page-template-template-sobre-nos header {
    margin-bottom: 0px;
}

.template-sobre-nos .missao,
.template-sobre-nos .historia {
    margin-bottom: 0;
}

.template-sobre-nos .visao .wpb_column,
.template-sobre-nos .missao .wpb_column {
    padding: 0;
}

.template-sobre-nos .missao .missao-custom01 {
    min-height: 357px;
}

.template-sobre-nos .missao .missao-custom02 {
    height: 357px;
}

.template-sobre-nos .visao .visao-custom {
    min-height: 245px;
}

.template-sobre-nos .vc_single_image-wrapper {
    display: inline ! important;
}

.template-sobre-nos .wpb_single_image img {
    width: 100%;
}

/* Formulário Home */

.slid-form {
    position: relative;
}

.home-formulario {
    position: absolute;
    top: 0;
    right: 0;
}

#circulo { 
    background: #666;
    border-radius: 100%;
    width: 150px;
    height: 150px;
    background-color: #ED1B24;
    border: 8px solid #ca2128;
    cursor: pointer;
    margin: 0 auto;
}

#circulo a {
    color: #fff;
    text-decoration: none;
    display: block;
    padding: 47px 0 50px;
    text-transform: uppercase;
    font-weight: bold;
}

.orcamentos-home {
    height: 200px !important;
    margin-bottom: 50px;
    margin-top: 100px;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

@media (max-width: 768px) {
    .template-sobre-nos .missao .missao-custom02 {
        height: auto;
    }
}
