#rodape {
    background: #FF8C69;
    color: $white;
    padding: 10px 0px;
    font-size: 12px;
    h2 {
        font-size: 16px;
        font-weight: normal;
        text-transform: uppercase;
    }

    .info_contact__item {
        display: block;
        margin-bottom: 10px;
        font-size: 12px;
        .fa-whatsapp {
            font-size: 28px;
        }
    }
}

.business_hours {
    list-style: none;
    margin: 0px;
    padding: 0px;
    li {
        border-bottom: 1px solid $white;
        lost-utility: clearfix;
        padding-bottom:5px;
        margin-bottom:5px;
    }

    .day_in_week {
        float: left;
    }

    .hour {
        float: right;
    }
}

.menu_footer {
    margin-left: 20px;
    font-size:14px;  

    li {
        margin-bottom: 5px;    
    }

    a {
        font-weight: normal;
        color : $white; 
        text-transform: uppercase;
        font-size: 12px;
    }
}

@media screen and (width <= $screen-sm-max) {
    .menu_footer {
        margin: 0px;
        padding: 35px 0px 35px 18px;
    }

}


.social_network {
    a {
        padding:3px;
        height: 25px;
        width: 25px;
        text-align: center;
        line-height: 22px;
    } 
}
