header {
    width: 100%;
    margin-bottom:0px;
}

#header__top {
    background: #FF8C69;
    color: #FFF;
    min-height: 10px;
    border-bottom: 4px solid #FFDEAD;
    font-size: 12px;
    padding: 10px 0px;
    
    ul {
        float:right;
        display:inline-block;
        margin:0px;
        padding:0px;
        li {
            display:inline-block;
            margin-right:10px;
            &:last-child{
                margin-right: 0px;
            }

            a {
                display:block;
                padding: 0px 10px;
                color:#FFF;
                text-transform:uppercase;
            }
        }
    } 

    .header_title_store {
        font-size: 12px;
        display: inline-block;
        text-transform: uppercase;
        margin: 0px 10px 0px 0px;
    }

    @media screen and (width <= $screen-sm-min ) {
        .header_title_store {
            font-size: 14px;
            display: block;
            padding: 10px 0px;
            text-align: center;
        }
    }

    #header__info_contact {
        display:inline-block;
    } 

    .social_network {
        float: right;
        a {
            font-size: 14px;
            padding:3px;
            height: 21px;
            width: 21px;
            text-align: center;
            line-height: 17px;
        }
    }
}

.info_contact {
    padding: 0px;
    margin: 0px;
    list-style: none;
    .info_contact__item {
        display:inline-block;
        margin-right: 10px;

        .fa {
            border-radius: 50%;
            border: 2px solid $white;
            padding: 2px 4px;     
            margin-right: 5px;
        }

        .fa.fa-whatsapp {
            border: none;
            padding: 0px;
            border-radius: 0px;
            font-size: 20px;
            margin-top: -3px;
            float: left;
            color : $white;
        }

        &:last-child {
            margin-right:0px;
        }
    }
}

.social_network {
    margin: 0px;
    padding: 0px;
    list-style: none;

    li {
        display:inline-block;
    }

    a {
        display:inline-block;
        background: $white;
        color: #00529d;
        border-radius: 50%;
    }
}

.sb-toggle-left {
    width: 58px;
    float: right;
    padding: 14px;

    .navicon-line {
        width: 24px;
        height: 4px;
        border-radius: 1px;
        margin-bottom: 3px;
        background-color: #333;
    }
}

.sb-slidebar {
   z-index: 999999;
   background:#00529d;
   .menu {
        margin: 0px;
        padding: 0px;

        li {
            border-bottom: 1px solid #ccc;

        }

        a {
            display: block;
            padding: 10px 15px;
            color: $white;
        }
   }
}


#main-nav {
   box-shadow: 0px 13px 11px -5px rgba(0,0,0,0.1);
   position:relative;
   z-index:99999;
   .menu {
        list-style: none;
        margin: 0px;
        padding: 0px;
        float: right;
        display: inline-block;
        
        & > .menu-item {
            display: inline-block;
            a {
                font-family: 'open_sanslight';
                display: block;
                color: #414042;
                height: 81px;
                line-height: 81px;
                font-weight:normal;
                margin-right:15px;
                font-size: 14px;
                text-transform: uppercase;
                text-decoration: none;
            }

            &:last-child a {
                margin-right: 0px;
             }

        }

        .current-menu-item a {
            border-bottom: 3px solid $yellow;
            font-weight: bold !important;
        }
    }
}

@media screen and (width >= $screen-sm-max ) and (width < $screen-lg-max) {

    #main-nav .menu-main-container {
        display: block;
    }

    .sb-toggle-left {
        display:none;
    }
}

@media screen and (width <= $screen-sm-max) {
    .orcamentos h1, .template-orcamento h1 {
        font-size: 53px;
    }

    .orcamentos span, .template-orcamento span {
        font-size:21px;
        top: -18px;
    }

    .home-formulario {
        position: relative !important;
        float: none !important;
        margin: 0px auto;
    }

    #main-nav .menu-main-container {
        display: none;
    }

    .sb-toggle-left {
        display: block;
    }
}

#logo {
    background: url('../images/logo.png') no-repeat center center;
    display:block;
    width: 143px;
    height: 81px;
    @mixin hide_text;
}

#header__top .header_title_store {
    font-weight: bold;
}

.cronograma {
   width: 100%; 
   thead {
    border:1px solid #333;
    background: #333;
    color:#FFF;
    padding:10px 0px;
    text-align:center;
   }

   td {
    border-right:1px solid #333;
   }

   tr {
    border-bottom: 1px solid #333;
   }

   .label {
    background: #333;
    color:#FFF;
    padding:10px 10px;
    width:250px;
   }

   .level {
    background: #CCC;
        &.is-easy {
            background:#005500;
        }
        &.is-medium {
            background: #FFBB00;
        }
        &.is-hard {
            background: #FF0000;
        }

   }
}
