@lost gutter 15px;
@lost flexbox no-flex;
@lost cycle auto;

$white : #FFFFFF;
$blue  : #359C9C; 
$yellow: #fef200;
$gray  : #7D7896;

/*
 * SCREENS TYPES
 * */
$screen-lg-max : 4000px;
$screen-lg-min : 1200px;

$screen-md-max : 1200px;
$screen-md-min : 768px;

$screen-sm-max : 768px;
$screen-sm-min : 550px;

$screen-ms-max : 550px;
$screen-ms-min : 400px;

$screen-xs-max : 400px;
$screen-xs-min : 0;

$primary_color : $yellow;


$font-size : 16px;
$font-color : $gray;
$font-family: Open Sans, Arial;

$title-color : darken($gray, 10%);
$title2-color: darken($gray, 5%);

$title-font-family: $font-family;
$title2-font-family: $font-family;

$h1-size: ($font-size * 0.4) + $font-size;
$h2-size: ($font-size * 0.2) + $font-size;
$h3-size: ($font-size * 0.1) + $font-size;

$link-color: $blue;

$background-color: $white;


